<div class="row">
    <div class="col-xl-9">
        <div class="card border-0">
            <div class="card-body" style="margin-top: 10%; margin-left: 10%;">
                <div class="alert alert-success" role="alert" *ngIf="showMessage">
                    <h3>Registered Successfully, Please login to book tickets</h3>
                </div>
                <h2>Register</h2>
                <form [formGroup]="registerModel.formCustomerGroup">
                    <div>
                        <label class="form-label">UserName</label>
                        <input [(ngModel)]="registerModel.userName" class="form-control" formControlName="LoginControl" type="text" />
                        <p style="color:red" [hidden]="!(hasError('required','LoginControl'))">User Name is required</p>
                    </div>
                    <div>
                        <label class="form-label">Password</label>
                        <input [(ngModel)]="registerModel.password" class="form-control" formControlName="PasswordControl" type="text" />
                        <p style="color:red" [hidden]="!(hasError('required','PasswordControl'))">Password is required</p>
                    </div>
                    <div>
                        <label class="form-label">Mode</label>
                        <select id="inputState" [(ngModel)]="registerModel.role"  [ngModelOptions]="{standalone: true}"
                            class="form-control">
                            <option>User</option>
                        </select>
                    </div>
                    <div class="py-4">
                        <input type="submit" class="btn btn-primary" [disabled]="!(registerModel.formCustomerGroup.valid)" value="Register" (click)="Register()" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>