<h2 style="text-align: center;"><b>Welcome to Flight Booking App</b></h2>
<hr/><br/>
<img [src]="imageurl" width="100%" height="600rem"/>

<br/><br/><br/>
<h3 style="text-align: center;"><b>About Us</b></h3>
<hr>
<p>An airline ticket is a document or electronic record, issued by an airline or a travel agency, that confirms that an individual is entitled to a seat on a flight on an aircraft. The airline ticket may be one of two types: a paper ticket, which comprises coupons or vouchers; and an electronic ticket.</p>

<br/><br/><br/>
<h3 style="text-align: center;"><b>Products & Services</b></h3>
<hr>
<br/>

<ul class="list-group list-group-flush">
    <li class="list-group-item">Architecture</li>
    <li class="list-group-item">Airport Design Consulting and Engineering</li>
    <li class="list-group-item">Airport Construction</li>
    <li class="list-group-item">Training</li>
</ul>
  
<br/><br/><br/>
<h3 style="text-align: center;"><b>Contact Us</b></h3>
<hr>
<br/>

<div class="card col-md-4" style="margin-left: 2%;">
    <div class="card-body">
      <h4 class="card-title"><b>Email</b></h4>
      <p class="card-text">dreamflights@gmail.com</p>
    </div>
  </div>

  <div class="card col-md-4" style="margin-left: 2%;">
    <div class="card-body">
      <h4 class="card-title"><b>Mobile</b></h4>
      <p class="card-text">+91-9383672899</p>
    </div>
  </div>

